@page "/tranportorder"

<br />
<button class="btn btn-primary" @onclick="Save">Save</button>
<br />
<button class="btn btn-sm btn-danger" title="Toggle Edit Mode" @onclick="@((x) => ToggleEdit())">Toggle Edit Mode</button>
<br />

@if (data.Count > 0)
{
    <Table TableItem="TransportOrder" Items="data" ColumnReorder="true" class="@CssClassTable" @ref="Table"
       ShowSearchBar="true" RowClickAction="@(x => { SelectedItem = x; CssSelected = ""; StateHasChanged();})"
       SelectedItems="SelectedItems" SelectionType="SelectionType.Single" Header="Header">


        @*	<ToolBar>
    pling
    <button type="button" class="btn btn-success btn-sm" @onclick="@(async () => await ShowModalEdit(null))">
    <i class="fas fa-plus"></i> ClientAddClient
    </button>
    }
    </ToolBar>
    <ColumnActions TItem="TransportOrder" OnDeleteClick="async c => await Delete(c)" OnEditClick="async c => await ShowModalEdit(c)"/>*@


        <Column TableItem="TransportOrder" Title="PackageNumber" Field="@(x => x.PackageNumber)">
            <Template>
                @context.PackageNumber
            </Template>
            <EditTemplate>
                <input type="text" @bind-value="@context.PackageNumber" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Position" Field="@(x => x.Position)" >
            <Template>
                @context.Position
            </Template>
            <EditTemplate>
                <input type="text" @bind-value="@context.Position" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Location" Field="@(x => x.Location)" >
            <Template>
                @context.Location
            </Template>
            <EditTemplate>
                <input type="text" @bind-value="@context.Location" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Priority" Field="@(x => x.Priority)" >
            <Template>
                @context.Priority
            </Template>
            <EditTemplate>
                <input type="text" @bind-value="@context.Priority" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Source" Field="@(x => x.Source)" >
            <Template>
                @context.Source
            </Template>
            <EditTemplate>
                <input type="text" @bind-value="@context.Source" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Status" Field="@(x => x.Status)">
            <Template>
                @context.Status
            </Template>
            <EditTemplate>
                <input type="text" @bind-value="@context.Status" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Target" Field="@(x => x.Target)" >
            <Template>
                @context.Target
            </Template>
            <EditTemplate>
                <input type="text" @bind-value="@context.Target" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Ignore" Field="@(x => x.Ignore)" Class="text-center">
            <Template>
                @context.Ignore
            </Template>
            <EditTemplate>
                <input type="checkbox" @bind-value="@context.Ignore" class="form-check-input" />
            </EditTemplate>
        </Column>
        <Column TableItem="TransportOrder" Title="Generated" Field="@(x => x.Generated)" >
            <Template>
                @context.Generated.ToLongDateString()
            </Template>
            <EditTemplate>
                <input type="date" @bind-value="@context.Generated" class="form-control form-control-sm" />
            </EditTemplate>
        </Column>


    </Table>
}