@typeparam T
@using System.Linq.Expressions
@inherits InputBase<string>

@if (!string.IsNullOrWhiteSpace(Label))
{
	<LabelLocalizeable CssClass="@(LabelCssClass != null ? LabelCssClass : "col col-form-label")" TranslateKey="@Label"/>
}
<div class="@(InputContainerCssClass != null ? InputContainerCssClass : "col")">
	<textarea rows="5" class="@(InputCssClass != null ? InputCssClass : "form-control form-control-sm")" @attributes="AdditionalAttributes" id="@Label" @bind="CurrentValue" />
	<ValidationMessage For="@ValidationFor"/>
</div>

@code {

	[Parameter]
	public string Label { get; set; }

	[Parameter]
	public string LabelCssClass { get; set; }

	[Parameter]
	public string InputCssClass { get; set; }

	[Parameter]
	public string InputContainerCssClass { get; set; }

	[Parameter]
	public Expression<Func<T>> ValidationFor { get; set; }

	protected override bool TryParseValueFromString(string value, out string result, out string validationErrorMessage)
	{
		result = value;
		validationErrorMessage = null;
		return true;
	}

}